

@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">@Localizer["HelloWorld"]</h1>
    <p>@Localizer["LearnAbout"] <a href="https://docs.microsoft.com/aspnet/core">@Localizer["BuildingWebappswith"] ASP.NET Core</a>.</p>
</div>
